 .contenedor {
    width: 550px;
    margin: auto;
    padding: auto;
} 

form {
    width: 500px;
  }
  
  label {
    display: inline-block;
    text-align: left;
  }
  
  select, textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
  
  button {
    float: right;
    background-color: #00bfff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #a6e3a6;
  }

table {
clear: both;
width: 500px;
  }
